version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: charging_postgres
    restart: always
    environment:
      POSTGRES_DB: charging_station_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: charging_backend
    restart: always
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    environment:
      MAIL_USERNAME: ${MAIL_USERNAME}
      MAIL_PASSWORD: ${MAIL_PASSWORD}
    volumes:
      - uploads:/app/uploads

  frontend:
    build: ./frontend
    container_name: charging_frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "3000:3000"
    env_file:
      - .env

volumes:
  postgres_data:
  uploads:
